

{%extends 'modal/modal.html' %}

{%block divModal%}
    <div class="modal fade "  data-bs-theme="dark" id="modalActualizarProveedor" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
{%endblock divModal %}

{%block titleModal%}
   Actualizar Proveedor
{%endblock titleModal%}

{% block formulario %}
    <form class="form" action="{% url 'actualizarProveedor' %}" method="POST">
        {% csrf_token %}
        
        <div class="form-group">
            <label class="form-label" for=""> dni </label>
            <input class="form-control form-control-sm" type="text"  name="dni" placeholder="dni">
        </div>
        
        <div class="form-group">
            <label class="form-label" for=""> nombre </label>
            <input class="form-control form-control-sm" type="text" name="nombre" placeholder="nombre">
        </div>

        <div class="form-group">
            <label class="form-label" for=""> apellido </label>
            <input class="form-control form-control-sm" type="text" name="apellido" placeholder="apellido">
        </div>
        
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            <button type="submit"  class="btn btn-primary">Save changes</button>
        </div>
    </form> 

{% endblock formulario%}

    