
{%extends 'modal/modal.html' %}


{%block divModal%}
    <div class="modal fade" id="modalProducto"  data-bs-theme="dark" tabindex="-1"  aria-hidden="true"><!--aria-labelledby="exampleModalLabel"-->
{%endblock divModal %}

{%block titleModal%}
    Agregar Productor
{%endblock titleModal%}

{% block formulario %}

    <form class="form"   id="formCrearProducto"  onsubmit="return false;" >
        {% csrf_token %} 
    
        <div class="form-group">
            <label class="form-label" for=""> nombre </label>
            <input class="form-control form-control-sm" type="text"  name="nombre" placeholder="nombre">
        </div>
        
        <div class="form-group">
            <label class="form-label" for=""> precio </label>
            <input class="form-control form-control-sm" type="number" name="precio" placeholder="precio">
        </div>

        <div class="form-group">
            <label class="form-label" for=""> stock </label>
            <input class="form-control form-control-sm" type="number" name="stock" placeholder="stock">
        </div>

        <div class="form-group">
            <label class="form-label" for=""> proveedor </label>
            
            <select name="proveedor" id="selectProveedor">
                

            </select>
        </div>
        <!-- 
        onclick="formulario(this.form)" -->
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            <button type="submit" id="submit" onclick="crearProducto('{% url 'crearProducto' %}' )"  class="btn btn-primary">Guardar</button>
        </div>
    </form>


{% endblock formulario%}








