
 <!-- Modal -->
 <div class="modal fade" id="exampleModal" tabindex="-1" data-bs-theme="dark" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel"></h1> <!--Eliminar-->
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <h4>Seguro quiere eliminar al proveedor?</h4> <!---->
        </div>
        <div class="modal-footer">
          
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            
            <form id="formPopUp" action="" method="post">
                 {% csrf_token %}  
                <!-- <input type="hidden"  name="dniBorrar"> -->
                <input type="submit"   class="btn btn-warning"  value="Eliminar">
            </form>

        </div>
      </div>
    </div>
  </div>